.header{
    text-align: center;
    color: rgb(212, 199, 7);
    background-color: rgb(131, 8, 8);
    border-radius: 50%;
    
    
}

body{
    background-color:rgba(1, 7, 12, 0.801) ;
}





















